@page "/grupo"


<h3>Grupo #2</h3>
<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">No. Carné</th>
            <th scope="col">Correlativo</th>
            <th scope="col">Participación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Wilmer Antonio Sinay</td>
            <td>1590 - 15 - 10299</td>
            <td>3</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jorge Leonardo Antuche Solis</td>
            <td>1590 - 16 - 5676</td>
            <td>4</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>José Miguel Sánchez</td>
            <td>1590 - 19 - 22031</td>
            <td>9</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Ana Raquel Donis Portillo</td>
            <td>1590 - 22 - 11779</td>
            <td>17</td>
            <td>100%</td>
        </tr>
        
        <tr>
            <th scope="row">5</th>
            <td>Ana Rocío Del Cid López</td>
            <td>1590 - 22 - 14313</td>
            <td>19</td>
            <td>100%</td>
        </tr>
            </tbody>
</table>

@* <NavLink class="btn btn-primary" href="/buscar-ruta">Iniciar</NavLink> *@
@* <NavLink class="btn btn-warning" href="/grupo">Volver</NavLink> *@

@*     <NavLink class="btn btn-primary" href="/buscar-ruta">Iniciar</NavLink> *@
    @* <NavLink class="btn" type="button" href="/buscar-ruta">
        <strong>Iniciar</strong>
        <div id="container-stars">
            <div id="stars"></div>
        </div>

        <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </NavLink> *@

<NavLink class="btn btn-outline-dark" href="/buscar-ruta"><span>Iniciar</span></NavLink>